.header {
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    box-shadow: 0px 5px 8px -9px rgba(0, 0,0, 0.75);
}


.header__left {
    display: flex;
    justify-content: space-evenly;
}

.header__middle {
    display: flex;
    align-items: center;
}

.header__input {
    display: flex;
    align-items: center;
    background-color: #eff2f5;
    padding: 10px;
    margin-left: 10px;
    border-radius: 999px;
}

.header__input > input {
    border: none;
    outline-width: 0;
    background-color: transparent;
}

.header__left>img{
    height: 40px;
}

.header__option > .MuiSvgIcon-root {
    color: gray;
}

.header__option:hover > .MuiSvgIcon-root {
    color: #c0131b;
}

.header__option{
    display: flex;
    padding: 0 30px;
    align-items: center;
    cursor: pointer;
    justify-content: space-evenly;
}

.header__option:hover{
    align-items: center;
    padding: 0 30px;
    border-radius: 10px;
    background-color: #eff2f5;
    border-bottom: none;
}

.header__info{
    display: flex;
    align-items: center;
}

.header__info > h4{
    margin-left: 10px;
}

.header__right {
    display: flex;
}

.header__option--active > .MuiSvgIcon-root {
    color: #c0131b;
}

.header__option--active {
    border-bottom: 4px solid #c0131b;
}

